
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


.navbar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.navbar ul {
    list-style: none;
    display: inline-block;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    font-size: 20px;
}


.hero {
    background-image: url('https://i.pinimg.com/originals/7c/c1/e3/7cc1e3d2c4d85454b3bb419f89dee043.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(192, 191, 191);
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content h2 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 40px;
}

.cta-button {
    background: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 20px;
}

.cta-button:hover {
    background: #555;
}


.about {
    padding: 60px 0;
    background: #f4f4f4;
    text-align: center;
}

.about h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    color: #555;
    width: 80%;
    margin: 0 auto;
}


.services {
    padding: 60px 0;
    background: white;
    text-align: center;
}

.services h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.service {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.service h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.service p {
    font-size:20px;
    color: #555;
}


.contact {
    padding: 60px 0;
    background: #333;
    color: white;
    text-align: center;
}

.contact h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact form {
    width: 50%;
    margin: 0 auto;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    padding: 15px 30px;
    background: #615056;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.contact button:hover {
    background: #5e3e3e;
}


footer {
    background: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}
