*{
    margin: 0 auto;
}
body{
    background:url(/foto/logo2.jpg);
    background-size: cover;
}


h1{
    color: rgb(255, 0, 0);
    font-size: 20px;
}
p{
    margin: 100px 100px 150px 80px;
    border-width: 2px;
    border-style: solid;
    border-color: green;
}
.box{
    /*/padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;*/
    padding: 50px;
    margin: 20px;
    border: 10px solid black;
    height: 200px;
    width: 50%;
    background-color: powderblue;
}
/*.box2{
    margin: 0px auto;
}